In [1]:
print('hello wolrd')

hello wolrd

### print(print(number)) 했을 때 None이 나오는 의미 ?
#### 안쪽부터 순서대로 ?

In [1]:
number = 20161234
score = 90
python_score = 95
math1 = 80
student = 50

print(print(number), '00')
print(score)
print(python_score)
print(math1)
print(student)

20161234
None 00
90
95
80
50

In [8]:
print(print(print(number)))

20161234
None
None

In [8]:
print(number); print(score)

20161234
90

In [7]:
print(print(print(python_score)))

95
None
None

In [9]:
a = 10; b = 20; c = 30
print(a, b, c)

10 20 30

In [11]:
e = 'sogang'
type(e)

str

In [12]:
f = [1,2,3,4,5]
type(f)

list

In [14]:
g = (2,3,5)
type(g)

tuple

In [15]:
i = 24
type(i)

int

In [16]:
a = 2.15
type(a)

float

In [18]:
h = {1,3,5,6}
type(h)

set

In [19]:
d = {3:90, 5:87, 3:34}
type(d)

dict

In [20]:
a = 23
type(a)

int

In [21]:
isinstance(a, int)

True

In [23]:
a = int(3.5)
b = int(3.3)
c = int('34')

print(a, b, c)

3 3 34

In [24]:
type(c)

int

In [25]:
a = 124
x = float(a)
y = str(a)

print(a, x, y)

124 124.0 124

In [27]:
multiple = 9*9
divide = 30/5
power = 2**4
remainder = 15%4

print(multiple, divide, power, remainder)

81 6.0 16 3

In [31]:
text = '2015' + '1991'
number = 2015 + 1991

print(text), print(number)

20151991
4006

(None, None)

In [32]:
five4 = 5*1
five5 = 5*1.0

print(five4)
print(five5)

5
5.0

In [33]:
div1 = 6/5
div2 = 6//5

print(div1)
print(div2)

1.2
1

In [38]:
a = 6
b = 5

print(a == b*(a//b) + (a%b))

True

In [39]:
print(int(5.0))
print(float(5))
print(5*1.0)

5
5.0
5.0

In [40]:
type(5*1.0)

float

In [41]:
type(int(5.0))

int

In [42]:
round(1.3)

1

In [43]:
round(2.5)

2

### round는 반올림 ?

In [44]:
round(2.6)

3

In [46]:
import math
type(math)

module

In [50]:
math.ceil(2.9)

3

In [51]:
# 올림 내림
math.floor(5.7)

5

In [52]:
a = 1
a < 0

False

In [53]:
a > 0

True

In [54]:
b = True
c = False
print(b, c)

True False

In [55]:
x = input('enter x: ')
print(x)

enter x: 199
199

In [56]:
type(x)

str

In [57]:
x = int(x)

In [ ]:
type(x)

In [1]:
x = int(input('enter one integer : '))

enter one integer : 199

In [2]:
type(100)

int

In [3]:
type(x)

int

In [4]:
y = float(input('enter one float number : '))

enter one float number : 55.555

In [5]:
type(y)

float

In [6]:
print(y)

55.555

### '' 로끝나는데 왜 계속 이어쓴는지 ?

In [9]:
print('hello world ', end='')
print('hello world ', end='' )
print('hello world')

hello world hello world hello world

In [11]:
10+5
20-13
3*10
100/8
2**5
30//7
30%7

2

### 수 계산하면서 end=''로 끝나면 계속 이어서 값 연산 ?

In [9]:
print(10+5)
print(20-13)

15
7

In [13]:
print(10+5, end='')
print(20-13, end='')
print(3*19, end='')
print(100/8, end='')
print(2**5, end='')
print(30//7, end='')
print(30%7, end='')

1575712.53242

In [14]:
2**3**2

512

In [15]:
(2**3)**2

64

#### 절대값 abs ? 그외 나머지 divmod

In [16]:
abs(-3)

3

In [17]:
# (몫, 나머지)
divmod(17, 4)

(4, 1)

In [18]:
pow(2,5)

32

In [19]:
import math
math.fabs(-3)

3.0

In [20]:
math.factorial(5)

120

In [21]:
math.pow(3,5)

243.0

In [25]:
math.sqrt(4)

2.0

In [26]:
math.trunc(10.8)

10

In [27]:
a = 1.5
type(a)

float

In [28]:
isinstance(a, float)

True

### 아래 값들에 대한 간단한 해석?

In [29]:
b = 2e3 # 000 , 0이 세개
a = 2e-03
c = 2E2
d = 2E-2
e = 2e10
f = 2e-10
print(b)
print(a)
print(c)
print(d)
print(e)
print(f)

2000.0
0.002
200.0
0.02
20000000000.0
2e-10

In [30]:
x= 1; y = 2
str1 = 'abc'; str2 = 'python'
print(x == y)
print(x != y)
print(str1 == str2)
print(str2 == 'python')
print(str1 < str2)

False
True
False
True
True

In [31]:
len(str1)

3

In [33]:
bool1 = True; bool2= False; bool3 = True; bool4 = False
print(bool1 and bool2)
print(bool1 and bool3)
print(bool2 or bool3)
print(bool2 or bool4)
print(not bool1)
print(not bool2)

False
True
True
False
False
True